<h1><%= plural_table_name.capitalize %></h1>

<table class="table table-striped">
 <thead>
  <tr>
<% attributes.each do |attribute| -%>
    <th><%= attribute.human_name %></th>
<% end -%>
    <th></th>
    <th></th>
  </tr>
 </thead>

<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <tr>
<% attributes.each do |attribute| -%>
	<% if %w(name title).include? attribute.name %>
		<th><%%= link_to <%= singular_table_name %>.<%= attribute.name %>, <%= singular_table_name %> %></th>
	<% else %>
    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
	<% end %>
<% end -%>
    <td><%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
    <td><%%= link_to 'Delete', <%= singular_table_name %>, <%= key_value :confirm, "'Are you sure?'" %>, <%= key_value :method, ":delete" %> %></td>
  </tr>
<%% end %>
</table>

<br />

<%%= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path, <%= key_value :class, "'btn btn-primary'" %> %>
