<h1>View <%= human_name %></h1>

<% attributes.each do |attribute| -%>
<p>
  <b><%= attribute.human_name %>:</b>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>

<div class="form-actions">
	<%%= link_to "List", <%= index_helper %>_path, :class => 'btn btn-primary' %>
	<%%= link_to "Edit", edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), <%= key_value :class, 'btn' %> %>
	<%%= link_to "Delete", @<%= singular_table_name %>, <%= key_value :confirm, "'Are you sure?'" %>, <%= key_value :method, ":delete" %>, <%= key_value :class, 'btn' %> %>
</div>
